<div class="card_property_line">
    <div class="box_img">
        <figure class="tag status">Vente</figure>
        <figure class="ribbon">Vendu</figure>
        <a href="#"><img alt="" src="{{ asset('build/images/properties/property-01.4f882c23.jpg') }}" class="img-fluid"></a>
    </div>
    <div class="box_info">
        <header>
            <a href="#"><h3>33000 Bordeaux</h3></a>
            <figure class="tag price">380 000 €</figure>
        </header>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
            </p>
            <div class="info">
                <dt>Surface:</dt>
                <dd>860 m<sup>2</sup></dd>
                <dt>chambres:</dt>
                <dd>3</dd>
                <dt>Salle de Bien:</dt>
                <dd>2</dd>
            </div>
        </div>
        <div class="box_miniature">
            <img  class="mini_img img-fluid" alt="" src="{{ asset('build/images/properties/property-01.4f882c23.jpg') }}">
            <img  class="mini_img img-fluid" alt="" src="{{ asset('build/images/properties/property-01.4f882c23.jpg') }}">
            <img  class="mini_img img-fluid" alt="" src="{{ asset('build/images/properties/property-01.4f882c23.jpg') }}">
            <img  class="mini_img img-fluid" alt="" src="{{ asset('build/images/properties/property-01.4f882c23.jpg') }}">

        </div>
    </div>
</div>