<div class="logos">
    <div class="logo"><a href=""><img src="{{ asset('images/logo_1.jpg') }}" alt=""></a></div>
    <div class="logo"><a href=""><img src="{{ asset('images/logo_2.jpg') }}" alt=""></a></div>
    <div class="logo"><a href=""><img src="{{ asset('images/logo_3.jpg') }}" alt=""></a></div>
    <div class="logo"><a href=""><img src="{{ asset('images/logo_1.jpg') }}" alt=""></a></div>
    <div class="logo"><a href=""><img src="{{ asset('images/logo_2.jpg') }}" alt=""></a></div>
</div>

